
@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("UserProfile",new {userName = ViewBag.userName})

    @await Component.InvokeAsync("_OrderDetailUser",new {userName = ViewBag.userName})
</div>
