@model UpdateUserDto

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Profili Düzenle</h4>
    </div>
    <div class="card-body">
        <form asp-action="EditUser" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName">Kullanıcı Adı <span class="text-danger">*</span></label>
                <input placeholder="@Model.UserName" asp-for="UserName" class="form-control" readonly />
                <input asp-for="Id" type="hidden" />
            </div>

            <div class="form-group">
                <label asp-for="Name">İsim <span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" placeholder="İsim giriniz.." />
            </div>

            <div class="form-group">
                <label asp-for="Surname">Soyisim <span class="text-danger">*</span></label>
                <input asp-for="Surname" class="form-control" placeholder="Soyisim giriniz.." />
            </div>

            <div class="form-group">
                <label asp-for="City">Şehir</label>
                <input asp-for="City" class="form-control" placeholder="Şehir giriniz.." />
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="+90" />
            </div>

                <div class="form-group">
                    <label for="ImageFile">Resim Yükle</label>
                    <input type="file" name="ImageFile" id="ImageFile" class="form-control">
                </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>
