@model UpdateUserDto

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ModaMania Profil Düzenle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/velvety/web/css/flexslider.css" type="text/css" media="screen" />
    <link href="/velvety/web/css/font-awesome.css" rel="stylesheet">
    <link href="~/velvety/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>
<body class="profile_background">
    <h1 class="text-center mt-3">PROFİL DÜZENLE</h1>
    <div class="main-agile">
        <div class="content-wthree">
            <div>
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div>
                                    <div class="about-midd-main">
                                        <div class="info col-md-6 mx-auto">
                                            <form asp-action="EditUser" method="post" enctype="multipart/form-data">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                                <div class="form-group">
                                                    <label style="color:azure" asp-for="UserName">Kullanıcı Adı <span class="text-danger">*</span></label>
                                                    <input type="text" style="background: #fff; border: none; border-bottom: 1px solid #000; color: #000; outline: none;" placeholder="@Model.UserName" asp-for="UserName" class="form-control" readonly />
                                                    <input asp-for="Id" type="hidden" />
                                                </div>

                                                <div class="form-group">
                                                    <label style="color:azure" asp-for="Name">İsim <span class="text-danger">*</span></label>
                                                    <input style="background: #fff; border: none; border-bottom: 1px solid #000; color: #000; outline: none;" asp-for="Name" class="form-control" placeholder="İsim giriniz.." required />
                                                </div>

                                                <div class="form-group">
                                                    <label style="color:azure" asp-for="Surname">Soyisim <span class="text-danger">*</span></label>
                                                    <input style="background: #fff; border: none; border-bottom: 1px solid #000; color: #000; outline: none;" asp-for="Surname" class="form-control" placeholder="Soyisim giriniz.." required />
                                                </div>

                                                <div class="form-group">
                                                    <label style="color:azure" asp-for="City">Şehir</label>
                                                    <input style="background: #fff; border: none; border-bottom: 1px solid #000; color: #000; outline: none;" asp-for="City" class="form-control" placeholder="Şehir giriniz.." required />
                                                </div>

                                                <div class="form-group">
                                                    <label style="color:azure" asp-for="PhoneNumber">Telefon</label>
                                                    <input style="background: #fff; border: none; border-bottom: 1px solid #000; color: #000; outline: none;" style="ba" asp-for="PhoneNumber" class="form-control" placeholder="+90" required />
                                                </div>

                                                <div class="form-group">
                                                    <label style="color:azure" for="ImageFile">Resim Yükle</label>
                                                    <input type="file" name="ImageFile" id="ImageFile" class="form-control">
                                                </div>

                                                <div class="form-group text-center">
                                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </section>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <br />
    <br />
    <script src="~/velvety/web/js/jquery.min.js"></script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.main-agile').fadeOut('slow', function (c) {
                    $('.main-agile').remove();
                });
            });
        });
    </script>
    <script defer src="~/velvety/web/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {

        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
         

    </script>
</body>
</html>
