
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/cozastore-master/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Hakkımızda
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Hikayemiz
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Müşteri deneyimini merkeze alan bir felsefeyle, on binlerce işletmeyi bir araya getiren pazaryeri modelimizle, Türkiye'nin ve bölgenin en büyüğü olan Akıllı Operasyon Merkezimizle, sektörün çıtasını yükselten teknolojik çalışmalar yürüttüğümüz Ar-Ge Merkezimizle sektörün gelişimine ve dijital dönüşüme liderlik ediyoruz.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Müşterilerimizin günlük yaşamlarında güvenilir, yenilikçi ve samimi bir yol arkadaşı olarak, ekosistemimizdeki her bir paydaşımızın "İyi ki varsın ModaMania" diye düşünmeleri için var gücümüzle çalışıyoruz.
					</p>
					<p class ="stext-113 cl6 p-b-26">
						Markamız üzerinden gerçekleştirdiğiniz tüm alışverişlerinizde; mağduriyet içermeyen, hızlı teslimat, iptal/iade/değişim bilinci ile yaklaşımını sağlayan müşteri temsilcilerimiz ile en keyifli alışveriş deneyimini yaşamayı mümkün kılıyoruz.

						Sektördeki son gelişmeleri ve kullanıcı alanındaki güncel talepleri takip ederek, çağdaş düzeydeki teknolojiyle buluşturduğumuz web adresimizi sizlere sunuyor, en iyi ekip arkadaşlarımız, güçlü ve profesyonel idari yönetimimiz ile takibini gerçekleştirerek, tüketici haklarını en iyi şekilde yaşamanızı elde etmenizi sağlıyoruz.
					</p>
					<p class="stext-113 cl6 p-b-26">

						<br />
						Sorunuz Mu Var? Mağazamıza gelin 8th floor, 379 Hudson St, New York, NY 10018 ya da Bizi Arayın (+1) 96 716 6879
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/cozastore-master/images/about-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Misyonumuz
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Ticaretin dijitalleşmesine liderlik etme vizyonumuzla, bir e-ticaret platformundan insanların hayatlarını kolaylaştırmaya odaklanan ve sunduğu bütünleşik hizmetlerle tüm paydaşlarına katkı sağlayan dev bir ekosisteme dönüşmeyi hedefliyoruz.
						
					</p>
					<p class="stext-113 cl6 p-b-26">
						Faaliyette bulunduğumuz sektörlerde; bireye ve topluma saygılı, hukuka, ekonomik ve ahlaki ilkelere bağlı, sağlık, emniyet ve çevreye duyarlı olarak ModaMania müşterileri, çalışanları ve hissedarlarının beklentilerini en üst seviyede karşılamak
					</p>
					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">

							Dünyayı değiştirenler ancak bunu yapabileceklerini düşünecek kadar çılgın olan insanlardır.

						</p>

						<span class="stext-111 cl8">
							- Steve Job’s
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/cozastore-master/images/about-02.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	