@using ECommerce.DtoLayer.Dtos.Roles;
@model UpdateRoleDto
@{
    ViewData["Title"] = "RoleEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Rol Düzenle</h4>
</div>
<div class="card-body">
    <form method="post">
        <input type="text" class="form-control input-default" asp-for="Name" placeholder="Rol Adı Giriniz" required>
        <input type="hidden"  asp-for="Id">
        <br />
        <button class="btn btn-primary" style="float:right">Kaydet</button>
    </form>
</div>



