@{
    Layout = null;
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->

<head>
    <title>E-Commerce Şifre Sıfırlama</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <!-- //fonts -->
    <link rel="stylesheet" href="~/login/css/font-awesome.min.css" type="text/css" media="all">
    <!-- //Font-Awesome-File-Links -->
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- Google fonts -->

</head>
<!-- //Head -->
<!-- Body -->

<body>
    <section class="main">
        <div class="layer">

            <div class="content-w3ls">

                <div class="content-bottom">
                    <form method="post">
                        <div class="field-group">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="email" id="email" type="email" value="" placeholder="E-Posta" required>
                            </div>
                        </div>
                        <div class="text-danger" style="color:red" asp-validation-summary="ModelOnly"></div>
                        <div class="wthree-field">
                            <button class="btn" >Sıfırlama Bağlantısı Gönder</button>
                        </div>
                        <ul class="list-login">
                            
                        </ul>
                        <ul class="list-login-bottom">
                            <li class="">
                                <a href="/Account/Login" class="">GİRİŞ YAP</a>
                            </li>
                            <li class="">
                                <a href="/Account/Register" class="">ÜYE OL</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- //Body -->
</html>

