<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/Layout/HeadPartial.cshtml")
<body class="animsition">

    <!-- Header -->
    @await Component.InvokeAsync("Header")
    

    <!-- Cart -->
    @await Component.InvokeAsync("CartComponent")

    <!-- Slider -->
    <!-- Banner -->
    @RenderBody()

    <!-- Product -->
    <!-- Footer -->
    @await Html.PartialAsync("/Views/Layout/FooterPartial.cshtml")

    <!-- Back to top -->
    @await Html.PartialAsync("/Views/Layout/ScriptPartial.cshtml")

</body>
</html>
