<head>
    <title>ModaMania</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link id="favicon" rel="icon" sizes="48x48" type="image/png" href="~/cozastore-master/images/icons/micon.png">
    <script>
        const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const faviconElement = document.getElementById('favicon');

        if (prefersDarkMode) {
            faviconElement.href = '/cozastore-master/images/icons/white-micon.png';
        } else {
            faviconElement.href = '/cozastore-master/images/icons/micon.png';
        }
    </script>
    
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/cozastore-master/css/main.css">

    <script type="text/javascript">var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date(); (function () { var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0]; s1.async = true; s1.src = 'https://embed.tawk.to/652905f46fcfe87d54b968d9/1hck3ugpk'; s1.charset = 'UTF-8'; s1.setAttribute('crossorigin', '*'); s0.parentNode.insertBefore(s1, s0); })();</script> <!--End of Tawk.to Script-->
    <!--===============================================================================================-->
</head>
