<div class="nav-header">
    <div class="brand-logo">
        <a href="/adminpanel">
            <b class="logo-abbr"><img src="~/cozastore-master/images/icons/logo123.png" alt="IMG"> </b>
            <span class="logo-compact"><img src="~/cozastore-master/images/icons/logo123.png" alt="IMG"></span>
            <span class="brand-title">
                <img style="height:50px; width:170px" src="~/cozastore-master/images/icons/logo123.png" alt="IMG-LOGO">
            </span>
        </a>
    </div>
</div>

