<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-badge speedometer-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./layout-blank.html">Kategori Listesi</a></li>
                    <li><a href="./layout-one-column.html">Kategori Ekle</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Ürünler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./layout-blank.html">Ürün Listesi</a></li>
                    <li><a href="./layout-one-column.html">Ürün Ekle</a></li>
                </ul>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Siparişler</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Üyeler</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li class="nav-label">DİĞER</li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">E-Mail</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./layout-blank.html">Gelen Kutusu</a></li>
                    <li><a href="./layout-one-column.html">Giden Kutusu</a></li>
                    <li><a href="./layout-one-column.html">Mail Oluştur</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./layout-blank.html">Profili Düzenle</a></li>
                    <li><a href="./layout-one-column.html">Şifre Değiştir</a></li>
                </ul>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>