<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-grid-1x2-fill"></i><span class="nav-text">Kategoriler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/categorylist">Kategori Listesi</a></li>
                    <li><a href="~/adminpanel/addcategory">Kategori Ekle</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-box-fill"></i><span class="nav-text">Ürünler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/productlist">Ürün Listesi</a></li>
                    <li><a href="~/adminpanel/addproduct">Ürün Ekle</a></li>
                </ul>
            </li>
            <li>
                <a href="~/adminpanel/orders" aria-expanded="false">
                    <i class="bi bi-bag-fill"></i><span class="nav-text">Siparişler</span>
                </a>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-file-earmark-person-fill"></i><span class="nav-text">Çalışanlar</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/employeelist">Çalışan Listesi</a></li>
                    <li><a href="~/adminpanel/addemployee">Çalışan Ekle</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-person-circle"></i><span class="nav-text">Adminler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/adminlist">Admin Listesi</a></li>
                    <li><a href="~/adminpanel/createadmin">Admin Ekle</a></li>
                </ul>
            </li>
            <li>
                <a href="~/adminpanel/userlist" aria-expanded="false">
                    <i class="bi bi-people-fill"></i><span class="nav-text">Üyeler</span>
                </a>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-key-fill"></i><span class="nav-text">Roller</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/rolelist">Rol Listesi</a></li>
                    <li><a href="~/adminpanel/addrole">Rol Ekle</a></li>
                </ul>
            </li>
            <li class="nav-label">DİĞER</li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-envelope-fill"></i><span class="nav-text">Mesajlar</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/messages/inbox">Gelen Kutusu</a></li>
                    <li><a href="~/adminpanel/messages/sendbox">Giden Kutusu</a></li>
                    <li><a href="~/adminpanel/messages/sendmessage/KullanıcıAdı">Mesaj Gönder</a></li>
                    <li><a href="~/adminpanel/messages/sendemail">E-Posta Oluştur</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="bi bi-gear-fill"></i><span class="nav-text">Ayarlar</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/adminpanel/settings/profile">Profili Düzenle</a></li>
                    <li><a href="~/adminpanel/settings/password">Şifre Değiştir</a></li>
                </ul>
            </li>
            <li>
                <a href="/" aria-expanded="false">
                    <i class="bi bi-caret-up-square-fill"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="~/Account/LogoutSec" aria-expanded="false">
                    <i class="bi bi-x-square-fill"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>