@model ECommerce.DtoLayer.Dtos.AdminPanel.AdminSummaryDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <h4 class="card-title text-white">Toplam Ürün Sayısı</h4>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.ProductCount</h2>
                    <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <h4 class="card-title text-white">Çalışanlarımız</h4>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.EmployeeCount</h2>
                    <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <h4 class="card-title text-white">Kategori Sayısı</h4>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.CategoryCount</h2>
                    <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <h4 class="card-title text-white">Kullanıcı Sayısı</h4>
                <div class="d-inline-block">
                    <h2 class="text-white">@Model.UserCount</h2>
                    <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
            </div>
        </div>
    </div>
</div>


