@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Ürün Güncelleme Sayfası</h4>
</div>
<div class="card-body">
    <div class="form-validation">
        <form class="form-valide" method="post">
            <div class="form-group row">
                <input type="hidden" asp-for="Id" />
                <label class="col-lg-4 col-form-label" for="val-email">
                    Ürün Adı <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="Name" placeholder="Ürün adı giriniz..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Fiyat <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="Price" placeholder="Ürün fiyatı giriniz..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Açıklama <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="Description" placeholder="Ürün için açıklama giriniz..">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Ürün Görseli <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="Image" placeholder="Ürün için görsel url giriniz..">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Stok <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="Stock" placeholder="Stok bilgisi giriniz..">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Ürün Kategori
                </label>
                <div class="col-lg-6">
                    <select class="form-control" id="CategoryIdSelect" name="CategoryId"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "https://localhost:7175/api/Category/GetAllCategories",
            dataType: "json",
            success: function (categories) {

                var selectElement = $("#CategoryIdSelect");
                $.each(categories, function (index, category) {
                    selectElement.append($("<option>", {
                        value: category.id,
                        text: category.id+"-"+ category.name
                    }));
                });

                var currentCategoryId = @ViewBag.CurrentCategoryId;
                console.log("Current Category ID: " + currentCategoryId);
                $("#CategoryIdSelect").val(currentCategoryId);
            },
            error: function () {
                console.error("Kategoriler alınamadı.");
            }
        });

        
    });
</script>