@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Profili</title>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>
<body>
    <div class="profile-container">
        <h1>Kullanıcı Profili</h1>
        <div class="profile-info">
            <div class="profile-picture">
                <img src="" alt="Profil Resmi">
                <button >Resmi Değiştir</button>
            </div>
            <div class="user-details">
                <label for="name">Adınız:</label>
                <input type="text" >
                <label for="email">E-posta Adresiniz:</label>
                <input type="email"  value="deneme@gmail.com">
            </div>
        </div>
        <button >Profil Bilgilerini Güncelle</button>
        <button >Şifre Değiştir</button>
        <button >Çıkış Yap</button>
    </div>
</body>
</html>
