<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<!-- Topbar -->
		<div class="top-bar">
			<div class="content-topbar flex-sb-m h-full container">
				<div class="left-top-bar">
					1000₺ üzeri alışverişlerde kargo ücretsiz!
				</div>
				<div class="right-top-bar flex-w h-full">
					@if (User.Identity.Name != null)
					{
						@if (User.IsInRole("Admin"))
						{
							<a href="/adminpanel/productlist" class="flex-c-m trans-04 p-lr-25">
								Admin Panel
							</a>
						}
						<span style="color:white" class="flex-c-m trans-04 p-lr-25">
							@User.Identity.Name
						</span>
						<a href="/Profile/UserProfile" class="flex-c-m trans-04 p-lr-25">
							Profilim
						</a>
						<a href="#" class="flex-c-m trans-04 p-lr-25" onclick="logout();">
							Çıkış Yap
						</a>
						<form id="logout-form" action="/Account/Logout" method="post" style="display: none;">
						</form>
					}
					@if (User.Identity.Name == null)
					{
						<a href="/Account/Login" class="flex-c-m trans-04 p-lr-25">
							Giriş Yap
						</a>
					}
				</div>

			</div>
		</div>

		<div class="wrap-menu-mobile">
			<nav class="limiter-menu-desktop container">

				<!-- Logo desktop -->
				<a href="/home/index" class="logo mt-2" style="margin-left:10px;">
					<img style="height:50px; width:170px" src="~/cozastore-master/images/icons/logo123.png" alt="IMG-LOGO">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop" >
					<ul class="main-menu">
						<li>
							<a href="/home/index">Home</a>
						</li>

						<li>
							<a href="/product/index">Ürünler</a>
						</li>
						<li>
							<a href="/Cart/index">Sepet</a>
						</li>

						<li>
							<a href="/about/index">Hakkımızda</a>
						</li>

						<li>
							<a href="/contact/index">İletişim</a>
						</li>
					</ul>
				</div>

				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>
					</div>

					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@ViewBag.BasketItemCount">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>


				</div>
			</nav>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap-header-mobile">
		<!-- Logo moblie -->
		<div class="logo-mobile">
			<a href="index.html">
				<img style="height:42px; width:170px" src="~/cozastore-master/images/icons/logo123.png" alt="IMG-LOGO">
			</a>
		</div>

		<!-- Icon header -->
		<div class="wrap-icon-header flex-w flex-r-m m-r-15">
			<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
				<i class="zmdi zmdi-search"></i>
			</div>

		</div>



	</div>




	<!-- Modal Search -->
	<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
		<div class="container-search-header">
			<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
				<img src="~/cozastore-master/images/icons/icon-close2.png" alt="CLOSE">
			</button>

			<form action="/Product/index" method="get" class="wrap-search-header flex-w p-l-15">
				<button class="flex-c-m trans-04">
					<i class="zmdi zmdi-search"></i>
				</button>
				<input class="plh3" name="searchTerm" type="text" placeholder="Arama..." minlength="2" required>
			</form>
		</div>
	</div>
</header>

<script>

</script>


