@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Sayfanızın Başlığı</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                </h3>
            </div>
            <div class="flex-w flex-sb-m p-b-52">
                <button class="filter-button stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="1">
                    Kadın
                </button>
                <button class="filter-button stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="2">
                    Erkek
                </button>
                <button class="filter-button stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="3">
                    Aksesuar
                </button>
                <button class="filter-button stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="5">
                    Ayakkabı
                </button>
                <button class="filter-button stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="4">
                    Bebek
                </button>

            </div>

            <div class="product-grid">
                @foreach (var item in Model)
                {
                    <div class="product-item" data-category="@item.CategoryId">
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <a href="/Product/ProductDetail/@item.Id"><img src="@item.Image" alt="IMG-PRODUCT"></a>
                               @* <a type="button" href="/Product/ProductDetail/@item.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                    Ürün Detayı
                                </a>*@
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <span  class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @item.Name
                                    </span>
                                    <span class="stext-105 cl3">
                                        @item.Price₺
                                    </span>
                                </div>
                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="~/cozastore-master/images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/cozastore-master/images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        filterProducts(0);

        $(".filter-button").click(function () {
            var category = parseInt($(this).data("filter"));
            filterProducts(category);

            $(".filter-button").removeClass("active");

            $(this).addClass("active");
        });

        function filterProducts(categoryId) {
            $(".product-item").hide();
            if (categoryId === 0) {
                $(".product-item").show();
            } else {
                $(".product-item[data-category='" + categoryId + "']").show();
            }
        }
    </script>

</body>
</html>
