.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block2-txt-child1 {
    flex: 1;
}

.block2-txt-child2 {
    flex: 0;
    margin-left: 10px; 
}
.filter-button.active {
    text-decoration: underline;
}
.filter-button:not(.active):hover {
    text-decoration: underline;
}
.filter-button {
    margin-right: 5px; 
    margin-bottom: 5px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-button:hover {
        background-color: #333;
        color: #fff; 
        border-color: #333; 
 }

.fill {
    position: absolute;
    //display:block;
    height: 35px;
    width: 145px;
    margin: 5px 5px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    

}

.fill:hover {
    color: whitesmoke;
}

.fill:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
    top: 0;
}
@media (max-width: 576px) {
    .fill {
        position: page;
        height: 25px; 
        width: 30px; 
        font-weight: 100;
        font-size: 12px; 
        color: #383736;
        border: 2px #383736 solid;
        border-radius: 4px;
        text-transform: uppercase;
        outline: 0;
        overflow: hidden;
        background: none;
        cursor: pointer;
        transition: 0.08s ease-in;
        margin-top:20px;
    }

}