@using ECommerce.DtoLayer.Dtos.Order;
@using System.Globalization;
@model List<ResultOrderDto>

@if (Model.Count != 0)
{
    <div style="float:right">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th style="color:white">No</th>
                        <th style="color:white">Tutar</th>
                        <th style="color:white">Sipariş Tarihi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th style="color:white">@item.Id</th>
                            <th style="color:white">@item.TotalAmount</th>
                            <td style="color:white">@item.OrderDate</td>
                            <td><a href="/Profile/UserOrderDetails/@item.Id" class="btn btn-warning btn-xs">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div style="float:right">
        <h5>Henüz siparişiniz bulunmamakta</h5>
    </div>
}